:root {
    background: rgba(4, 39, 5, 0.7)
}

body {
    font-family: "Work Sans", sans-serif;
    margin: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.register-container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    width: 95%; 
    height: 44rem;
}


.left-section,
.right-section {
    text-align: center;
    flex: 1; 
    overflow-y: auto; 
    position: relative;
    overflow: hidden;
}

.left-section label,
.right-section label {
    text-align: left;
    display: block;
    margin-bottom: 10px;
}

.left-section{
    background-color: #3A5A40;
    flex: 1; 
    margin: 1em;
    padding:0;
    border-radius: 1em;
}

.buttons{
    font-family: "Work Sans", sans-serif;
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
}

.buttons button {
    width: 100%;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 60%;
    background-position: right bottom;
    transition: all 0.3s;
    background-color: #3A5A40;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


button:hover {
    background-color:#00290c ;
  }


  button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #00290c;
    z-index: -1;
    transition: 0.3 ease all;
    transform: scale(0,1);


    transform-origin: top right;
    transition: transform 50ms cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}


button:hover::after{
    transform: scale(1,1);
    transform-origin: top left;
}


.login-link {
    text-align: center;
    margin-top: 20px; 
}

.login-link a {
    color: #A3B18A;
    text-decoration: underline;
    transition: color 0.3s; 
}

.login-link a:hover {
    color: #3A5A40; 
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #3A5A40;
}

.username {
    margin-bottom: 10px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.background-image img{
    opacity: 0.7;
    background-color: red;
    padding:0;
}

.text-overlay {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 1;
    padding: 15px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.text-overlay h2 {
    margin: 0;
    font-size: 2em;
    margin-bottom: 10px;
}

.text-overlay p {
    font-size: 0.8em;
    margin: 0;
}

.left-section,
.right-section {
    text-align: center;
    flex: 1; 
    overflow-y: auto; 
    position: relative;
    overflow: hidden;
}

.right-section{
    padding:20px;
}

.left-section label,
.right-section label {
    text-align: left;
    display: block;
    margin-bottom: 10px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
    background-color: #3A5A40;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 60%;
}

.login-link {
    text-align: center;
    margin-top: 20px; 
}

.login-link a {
    color: #A3B18A;
    text-decoration: underline;
    transition: color 0.3s; 
}

.login-link a:hover {
    color: #3A5A40; 
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #3A5A40;
}

.username {
    margin-bottom: 10px;
}

.background-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    z-index: 1;
}

.text-overlay h2 {
    margin: 0;
    font-size: 2em;
    margin-bottom: 10px;
}

.text-overlay p {
    font-size: 0.8em;
    margin: 0;
}

.account-font{
    font-family: "Work Sans", sans-serif;
}


