<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home_styles.css"> 
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="script/index.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Lab Reservation System</title>
</head>
<body>
    {{> header}}
    </div>
    <section class="home-content">
        <div class="left-section">
                <h2>About Us</h2>
                <hr>
                <p>Want an easy way of getting a slot in your laboratory for your class? You’re just in luck because this will revolutionize the way you book lab sessions! </p>
                <p>Welcome to our computer laboratory reservation platform! Here, we've harnessed the power of technology to simplify the entire process, providing you with a seamless and intuitive interface to reserve your desired time slots. </p>
                <p>Our platform is built on the foundation of a Laboratory Management System (LMS), designed to streamline the management of computer resources. With our LMS, you can easily track computer slot availability, manage reservations, and ensure optimal utilization of computer resources. Say goodbye to manual paperwork and hello to automated efficiency!</p>
                <p>No more hassle, no more frustration – just smooth and efficient scheduling at your fingertips. </p>
                <p>Join us in embracing convenience and maximizing your lab usage. Let’s embark on this journey together towards a more streamlined and productive academic experience!</p>
        </div>
        <div class="right-section">
        <section class="featured-labs">
            <h2>Featured Labs</h2>
            <hr>
            <div id="featured-labs-container">

            </div>
        </section>

            <section class="how-it-works">
                <h2>How It Works</h2>
                <hr>
                <ol>
                    <li>Sign up for an account.</li><br>
                    <li>Browse available laboratories and services.</li><br>
                    <li>Reserve a lab or make use of services.</li><br>
                    <li>Enjoy your time!</li>
                </ol>
            </section>
        </div>
        </section>
</body>
{{> footer}}
</html>
