<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/view_style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
    <link rel="stylesheet" href="../Styles/nav_style.css">
    <script src="../Scripts/nav.js" defer></script>
    <script src="../Scripts/reserveSlots.js" defer></script>
    <title>Lab Reservation System</title>
</head>
<body>
    <div id="nav">
    </div>
    <div class="main-section">  
        <h2>Reserve Slots</h2>
        <form id = "buttonForAvailibility" method="post">
            <div id="lab-selection">
                <span>
                    <label for="lab">Choose a Lab:</label>
                    <select id="lab">
                        <option value="GK304A">GK304A</option>
                        <option value="GK304B">GK304B</option>
                        <option value="GK305A">GK305A</option>
                        <option value="GK305B">GK305B</option>
                        <option value="GK306A">GK306A</option>
                        <option value="GK306B">GK306B</option>
                    </select>
                </span>
    
                <span>
                    <label for="date">Select Date:</label>
                    <input type="date" id="date" required>
                </span>
    
                <span>
                    <label for="time">Select Time:</label>
                    <select id="time" required>
                    </select>
                </span>
            </div>
            <button type="submit">View Availability</button>
        </form>
        
        <div id="legend">
            <p><span class="legend-reserved"><i class="material-icons">chair</i></span> Reserved</p>
            <p><span class="legend-available"><i class="material-icons">chair</i></span> Available</p>
        </div>

        <button class="legend-button" onclick="toggleReservation()">
        </button>

        <div id="availability-results">
            <div class="seat-container">
                <button class="material-icons-button"></button>
            </div>
        </div>
        <dialog class="popup-contents" id="popup-contents">
            <div class="popup-details">
                <h2>Reservation Details</h2> 
                <hr>
                <span><strong>Seat Number:</strong><span class="seatNumber"></span></span>
                <span><strong>Date: </strong> <span id="popup-date"></span></span>
                <span><strong>Name:</strong><span id="userName"></span></span>
                <span><strong>Time:</strong><span id="popup-time"></span></span>
                <span><strong>Date Reserved:</strong><span id="date-reserved"> 2-14-2024</span></span>
                <span "><input id="reserveAnon" type="checkbox"><span class="test">Reserve Anonymously</span></input></span>
            </div>
            <div class="popup-buttons">
                <button onclick="reserve()"> Confirm</button>
                <button onclick="hideIt()">Go back</button>
            </div>
    </dialog>
</div> 
</body>
<footer>
    <p>&copy; 2024 Lab Reservation System</p>
</footer>
</html>
