<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reservations.css">
    <link rel="stylesheet" href="css/editStudentReservations.css">
    <script src="script/reservations.js" defer></script>
        <script src="script/filters.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Reservations</title>
</head>
<body>
    {{> header}}
    <div class="body-container">
            <div id="lab-selection">
                <span>
                    <label for="lab">Choose a Lab:</label>
                    <select id="lab">
                    </select>
                </span>
    
                <span>
                    <label for="date">Select Date:</label>
                    <input type="date" id="date" required>
                </span>
                <span style="display:none">
                <label for="time">Select Time:</label>
                    <span id = "SelectTime">
                        <select id="StartTime" required>
                        </select>
                        <select id="EndTime" required>
                        </select>
                    </span>
            </span>
            </div>
        <button onclick="viewAvailability()"id="filterButton">Filter</button>
        <section class="current-reservations">
            <h2>Current Reservations</h2>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Lab</th>
                            <th>Seat Number</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Time and Date requested</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each reservations}}
                            <tr>
                                <td>{{lab}}</td>
                                <td>{{seatNumber}}</td>
                                <td>{{date}}</td>
                                <td>{{time}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </section>
    </div>

</body>
{{> footer}}
</html>